body {
	font-family: 'Dancing Script', cursive;
  background: #02010a;
}
.contenido{
  max-width: 900px;
  min-width: 300px;
  margin: auto;
}
header{
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  background: #5b7989;
  color: white;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
@keyframes header-animacion {
	0%{
		margin-top: 150%;
	}
	60%{
		margin-top: -5%;
	}
	100%{
		margin-top: 0%;
	}
}
header{
	animation-name: header-animacion;
	animation-duration: 1s;
}
#titulo{
  font-size: 2em;
  float: left;
  margin: auto;
}
#menu{
  text-align: right;
  float: right;
  font-size: 1.2em;
  margin: auto;
}
#menu ul{
  list-style-type: none;
  padding: 0;
}
#menu ul li{
  display: inline;
  padding: 0px 10px;
}
#menu ul li a{
  color: white;
}
a[href='#'] {
  text-decoration:none;
}
img{
  width: 100%;
  box-shadow: 2px 2px 2px 2px #02010a;
}
.principal{
  display: flex;
  display: -webkit-flex;
  background-color: #82c3a6;
  width: 100%;
}
#imagen-central {
	margin: auto;
  width: 100%;
}
.secundarios{
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  background-color: #d5c75f;
  width: 100%;
}
.secundarios a{
	color: black;
	font-size: 1.2em;
}
#imagen-secundaria1, #imagen-secundaria2 {
	margin: auto;
	width: 50%;
  text-align: center;
}
@keyframes
secundaria1-animacion {
  from{
    box-shadow: 2px 2px 2px 2px black;
    transform: rotate(0deg);
  }
  to{
    box-shadow: 2px 2px 2px 2px #82c3a6;
    transform: rotate(10deg);
  }
}
#imagen-secundaria1 img:hover{
  animation-name: secundaria1-animacion;
  animation-duration: 2s;
}
@keyframes
secundaria2-animacion {
  from{
    transform: translateY(0px);
    transform: translateX(0px);
    box-shadow: 2px 2px 2px 2px black;
  }
  to{
    transform: translateY(-5px);
    transform: translateX(20px);
    box-shadow: 2px 2px 2px 2px #82c3a6;
  }
}
#imagen-secundaria2 img:hover{
  animation-name: secundaria2-animacion;
  animation-duration: 1s;
}
.galeria{
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  background-color: #d5c75f;
  width: 100%;
}
.galeria div{
  width: 33%;
}
#galeria1{
  filter: blur(10px);
}
#galeria2,#galeria4,#galeria6{
  filter: grayscale(100%);
}
#galeria3{
  filter: sepia(90%);
}
footer{
  padding: 0 20px;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  background: #c6d5c5;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
footer div{
  padding: 0% 1%;
  width: 23%;
}
footer figure{
  margin: auto;
  float: left;
}
footer figure img{
  max-width: 20px;
    box-shadow: 0 0 0 0;
}

@media screen and (max-width: 900px){
  .contenido, .galeria div{
    width: 100%;
    margin: 0,auto;
  }
  #titulo,#menu{
    width: 100%;
    text-align: center;
  }
  #imagen-secundaria1, #imagen-secundaria2 {
  	margin: auto;
  	width: 100%;
  }
  #imagen-secundaria1 img, #imagen-secundaria2 img {
  	width: 75%;
  }
  #Contacto,#Terminos,#Redes_Sociales,#Derechos{
    width: 100%;
  }
}
