body {
	font-family: 'Dancing Script', cursive;
  background: #02010a;
}
.contenido{
  max-width: 900px;
  min-width: 300px;
  margin: auto;
}
header{
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  background: #5b7989;
  color: white;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
#titulo{
  font-size: 2em;
  float: left;
  margin: auto;
}
#menu{
  text-align: right;
  float: right;
  font-size: 1.2em;
  margin: auto;
}
#menu ul{
  list-style-type: none;
  padding: 0;
}
#menu ul li{
  display: inline;
  padding: 0px 10px;
}
#menu ul li a{
  color: white;
}
a[href='#'] {
  text-decoration:none;
}
.principal{
  display: flex;
  display: -webkit-flex;
  background-color: #82c3a6;
  width: 100%;
}
.secundarios{
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  background-color: #d5c75f;
  width: 100%;
}
footer{
  padding: 0 20px;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  background: #c6d5c5;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
